@page
@model CS3750Assignment1.Pages.Registrations.IndexModel

@{
    ViewData["Title"] = "My Registrations";
}

<h1>My Registrations</h1>

<table class="table">
    <thead>
        <tr>
            <th>Course Name</th>
            <th>Course Number</th>
            <th>Credits</th>
            <th>Capacity</th>
            <th>Days Held</th>
            <th>Time</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Registrations)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.CourseName)</td> 
                <td>@Html.DisplayFor(modelItem => item.CourseNumber)</td>
                <td>@Html.DisplayFor(modelItem => item.Credits)</td>
                <td>@Html.DisplayFor(modelItem => item.Capacity)</td>
                <td>@Html.DisplayFor(modelItem => item.MeetingDays)</td>
                <td>@Html.DisplayFor(modelItem => item.MeetingTime)</td>
                <td>@Html.DisplayFor(modelItem => item.Location)</td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@item.CourseID">Drop</a>
                </td>
            </tr>
        }
    </tbody>
</table>
