@page
@model CS3750Assignment1.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Assignments";
}

<h1>Assignments</h1>

@if (!Model.Assignments.Any())
{
    <p class="text-muted">No assignments due.</p>
}

@if (Model.IsInstructor)
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New Assignment</a>
    </p>
}

@if (!Model.IsInstructor)
{
    <h3>Unsubmitted</h3>
}

@if(Model.Assignments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Max Points</th>
                <th>Due Date</th>
                <th>Due Time</th>
                <th>Accepted File Types</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td> 
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaxPoints)</td>
                    <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DueTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.AcceptedFileTypes)</td>
                    <td>
                        @if (Model.IsInstructor)
                        {
                            <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                        }
                        else
                        {
                            <a asp-page="SubmitAssignment" asp-route-assignmentId="@item.Id" class="btn btn-success btn-sm">
                                Submit Assignment
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@if (!Model.IsInstructor)
{
    <h3>Completed</h3>
}

@if (Model.SubmittedAssignments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Points Earned</th>
                <th>Max Points</th>
                <th>Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubmittedAssignments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        @if (item.EarnedPoints != null)
                        {
                            @Html.DisplayFor(modelItem => item.EarnedPoints)
                        }
                        else
                        {
                            <label>-----</label>
                        }
                     </td>
                    <td>@Html.DisplayFor(modelItem => item.MaxPoints)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubmittedAt)</td>
                </tr>
            }
        </tbody>
    </table>
}