@page
@model CS3750Assignment1.Pages.Assignments.IndexModel

@{
    ViewData["Title"] = "Assignments";
}
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>
<h1>Assignments</h1>

@if (!Model.Assignments.Any())
{
    <p class="text-muted">No assignments due.</p>
}

@if (Model.IsInstructor)
{
    <p>
        <a asp-page="Create" class="btn btn-primary">Create New Assignment</a>
    </p>
}

@if (!Model.IsInstructor)
{
    <h3>Unsubmitted</h3>
}

@if(Model.Assignments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Max Points</th>
                <th>Due Date</th>
                <th>Due Time</th>
                <th>Accepted File Types</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Assignments)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td> 
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>@Html.DisplayFor(modelItem => item.MaxPoints)</td>
                    <td>@Html.DisplayFor(modelItem => item.DueDate)</td>
                    <td>@Html.DisplayFor(modelItem => item.DueTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.AcceptedFileTypes)</td>
                    <td>
                        @if (Model.IsInstructor)
                        {
                            <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                            <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                           <!-- Added for individual assignment functionality--> <a asp-page="/ViewSubmissions" asp-route-courseId="@Model.CourseID" asp-route-assignId="@item.Id" class="btn btn-info">
                                View Submissions
                            </a>
                        }
                        else
                        {
                            <a asp-page="SubmitAssignment" asp-route-assignmentId="@item.Id" class="btn btn-success btn-sm">Submit Assignment</a>
                        }
                    </td>

                </tr>
            }
        </tbody>
    </table>
   
    /*@if (Model.IsInstructor)
    {
        <div class="mt-3">
            <a asp-page="/ViewSubmissions" asp-route-courseId="@Model.CourseID" class="btn btn-info">
                View Submissions
            </a>
        </div>
    }*/

}

@if (!Model.IsInstructor)
{
    <h3>Completed</h3>
}

@if (Model.SubmittedAssignments.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Points Earned</th>
                <th>Max Points</th>
                <th>Date Submitted</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SubmittedAssignments)
            {
                <script type="text/javascript">
                      google.charts.load("current", {packages:['corechart']});
                      google.charts.setOnLoadCallback(drawChart);
                      function drawChart() {
                        var data = google.visualization.arrayToDataTable([
                          ["Element", "Density", { role: "style" } ],
                          ["Copper", 8.94, "#b87333"],
                          ["Silver", 10.49, "silver"],
                          ["Gold", 19.30, "gold"],
                          ["Platinum", 21.45, "color: #e5e4e2"]
                        ]);

                        var view = new google.visualization.DataView(data);
                        view.setColumns([0, 1,
                                         { calc: "stringify",
                                           sourceColumn: 1,
                                           type: "string",
                                           role: "annotation" },
                                         2]);

                        var options = {
                          title: "Density of Precious Metals, in g/cm^3",
                          width: 600,
                          height: 400,
                          bar: {groupWidth: "95%"},
                          legend: { position: "none" },
                        };
                        var chart = new google.visualization.ColumnChart(document.getElementById("columnchart_values"));
                        chart.draw(view, options);
                    }
                </script>
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Title)</td>
                    <td>@Html.DisplayFor(modelItem => item.Description)</td>
                    <td>
                        @if (item.EarnedPoints != null)
                        {
                            @Html.DisplayFor(modelItem => item.EarnedPoints)
                        }
                        else
                        {
                            <label>-----</label>
                        }
                     </td>
                    <td>@Html.DisplayFor(modelItem => item.MaxPoints)</td>
                    <td>@Html.DisplayFor(modelItem => item.SubmittedAt)</td>
                    
                    @*add bar graph here with the following:
                        Assignment low score
                        Assignment mean score
                        Assignment high score
                        Assignment student score
                    *@
                </tr>
            }
        </tbody>
    </table>


}